{% extends 'base.html' %}
{% block content %}
  <section class="content-page">
    <div class="content-wrapper">
      <div class="developer-card">
        <img src="{{ url_for('static', filename='pratyaksha.jpeg') }}" />

        <div>
          <h1>Pratyaksha Singh</h1>

          <p>Vyakt represents the beginning of a journey.

            It started as a technical exploration into sign language recognition, driven by curiosity and a desire to build something meaningful.</p>

          <p>While learning sign language, a realization emerged, communication is not equal for everyone.

            Technology had the power to change that.

            Vyakt became that effort.</p>

          <p>This project reflects a commitment to building technology that serves real human needs.

            Not just functionality, but purpose.</p>

          <p>Vyakt is the foundation of something larger.

            A vision to create systems that make communication truly universal.</p>

          <div class="social-links">

    <a href="https://www.linkedin.com/in/pratyaksha-singh-764916277" target="_blank" class="social-btn">
        LinkedIn
    </a>

    <a href="https://github.com/pratyaksha0612" target="_blank" class="social-btn">
        GitHub
    </a>

    <a href="mailto:ipratyaksha.works@gmail.com" class="social-btn">
        Mail
    </a>

    <a href="https://www.instagram.com/pratyakshasingh_" class="social-btn">
        Instagram
    </a>

</div>
        </div>
      </div>

      <div class="content-motto">This is where it started.</div>
    </div>
  </section>
{% endblock %}
