{% extends 'base.html' %}
{% block content %}

<section class="isl-page">

<div class="isl-container">

<!-- LEFT SIDE -->
<div class="isl-left">

<img src="{{ url_for('static', filename='isl-logo.png') }}" class="isl-logo">

<p class="isl-description">
Explore Indian Sign Language translation using text or speech input.
Choose a mode below to begin.
</p>

<div class="isl-buttons">
<a href="/isl_text" class="isl-btn">TEXT</a>
<a href="/isl_speech" class="isl-btn">SPEECH</a>
</div>

</div>


<!-- RIGHT SIDE -->
<div class="isl-right">

<video id="islVideo" class="isl-video" autoplay muted playsinline></video>

<div class="alphabet-bar" id="alphabetBar"></div>

</div>

</div>

</section>


<script>

const video = document.getElementById("islVideo");
const alphabetBar = document.getElementById("alphabetBar");

const letters = "abcdefghijklmnopqrstuvwxyz".split("");

let index = 0;
let referenceMode = true;


/* ---------- CREATE ALPHABET BUTTONS ---------- */

letters.forEach((letter,i)=>{

const btn = document.createElement("span");

btn.innerText = letter.toUpperCase();

btn.onclick = ()=>{

playLetter(i);

};

alphabetBar.appendChild(btn);

});


/* ---------- HIGHLIGHT FUNCTION ---------- */

function highlight(activeIndex){

const buttons = alphabetBar.children;

for(let i=0;i<buttons.length;i++){
buttons[i].classList.remove("active");
}

buttons[activeIndex].classList.add("active");

}


/* ---------- PLAY REFERENCE LOOP ---------- */

function playReference(){

referenceMode = true;

video.src = "/isl_dataset/" + letters[index] + ".mp4";

highlight(index);

video.play();

index++;

if(index >= letters.length){
index = 0;
}

}


/* ---------- PLAY SPECIFIC LETTER ---------- */

function playLetter(letterIndex){

referenceMode = false;

video.src = "/isl_dataset/" + letters[letterIndex] + ".mp4";

highlight(letterIndex);

video.play();

}



video.addEventListener("timeupdate",()=>{

if(video.duration - video.currentTime < 0.01){

if(referenceMode){

playReference();

}
else{

referenceMode = true;

playReference();

}

}

});


playReference();

</script>
{% endblock %}